@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-53 {
  @apply relative flex items-center justify-center py-2 px-4 md:py-4 md:px-16 mb-4 text-xl md:text-2xl bg-yellow-500 border -rotate-3;
}

.btn-53:after {
  content: '';
  @apply absolute bottom-1 left-1 border border-black;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn-53:hover:after {
  @apply bottom-[2px] left-[2px];
}

.title {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
